@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* Fallback for old browsers */
  background-image: linear-gradient(to bottom, #111827, #1f2937);
  min-height: 100vh;
}
